apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: collector
spec:
  selector:
    app: api
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  type: ClusterIP
