apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: collector
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  clusterIP: None # Headless service for StatefulSet
